@import url("https://fonts.googleapis.com/css2?family=Kodchasan&display=swap");

*{
    padding: 0;
    margin: 0;
    /* user-select: none; */
    text-decoration: none;
}

body {
    width: 100%;
    height: 1000px;
}

#headertop{
    background-color: #000000;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headertop p a {
    text-decoration: none;
    font-family: Kodchasan;
    color: white;
    font-weight: 500;
}

#nav {
    background-image: url("/FRONT/images/jpg/pexels-elevate-1267350.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}


#head-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.75);
}

#head-nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Kodchasan;
    font-weight: bold;
    font-size: 25px;
}

#section {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.title {
    font-family: Kodchasan;
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.big-z {
    font-size: 70px;
}

#slog {
    padding-top: 25px;
    text-align: center;
    font-family: Kodchasan;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#cont-sec{
    padding-top: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cont-sec button {
    padding: 10px 30px;
    height: 60px;
    border: none;
    background-color: #d9d9d9;
    color: rgb(0, 0, 0);
    font-family: Kodchasan;
    font-weight: bold;
    cursor: pointer;
}

#active-v {
    background-color: #ff32b4 !important;
    border-radius: 150px 0px 0px 0px;
    color: white !important
}
#active-w {
    border-radius: 0px 150px 0px 0px;
}

#cont-sec button:hover {
    background-color: #ff69b4 !important;
}