@import url("https://fonts.googleapis.com/css2?family=Kodchasan&display=swap");

*{
    padding: 0;
    margin: 0;
    /* user-select: none; */
    text-decoration: none;
}

body {
    width: 100%;
    height: 9000px;
}

header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.header-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

#headertop{
    background-color: #000000;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headertop p a {
    text-decoration: none;
    font-family: Kodchasan;
    color: white;
    font-weight: 500;
}

#nav {
    background-image: url("/FRONT/images/jpg/pexels-elevate-1267350.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}


#head-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.75);
}

#head-nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Kodchasan;
    font-weight: bold;
    font-size: 25px;
}

#head-nav a:hover {
    font-style: oblique;
}

#section {
    padding-top: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.title {
    font-family: Kodchasan;
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.big-z {
    font-size: 70px;
}

#slog {
    padding-top: 25px;
    text-align: center;
    font-family: Kodchasan;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#cont-sec{
    padding-top: 129px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cont-sec button {
    padding: 10px 30px;
    height: 60px;
    border: none;
    background-color: #d9d9d9;
    color: rgb(0, 0, 0);
    font-family: Kodchasan;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#active-v {
    border-radius: 150px 0px 0px 0px;
}
#active-w {
    border-radius: 0px 150px 0px 0px;
}

.active-btn {
    background-color: #ff32b4 !important;
    color: white !important;
}
#cont-sec button:hover {
    background-color: #ff69b4 !important;
}

#menu-icon {
    display: none; /* Par défaut, caché sur les grands écrans */
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 4px;
    width: 30px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

@media (max-width: 820px) {
    #cont-sec {
        flex-wrap: wrap;
        display: flex;
    }
    #active-v {
            border-radius: 0px 0px 0px 0px;
        }
    #active-w {
            border-radius: 0px 0px 0px 0px;
        }
}

